DRIZZ_LOG_LEVEL=info
DRIZZ_TELEMETRY_ENDPOINT=
DRIZZ_TELEMETRY_EXPORTER=none

DRIZZ_SENTRY_SAMPLE_RATE=1
DRIZZ_SENTRY_ENVIRONMENT=local
DRIZZ_SENTRY_DSN=https://<ID>@<ID>.ingest.<region>.sentry.io/<ID>

DRIZZ_SESSION=LOCAL
DRIZZ_AUTH0_SCOPES=openid,offline_access
DRIZZ_AUTH0_AUDIENCE=https://<your-api-audience>
DRIZZ_CLOUD=https://<your-cloud-host>/api/<path>
DRIZZ_AUTH0_CLIENT=<Client ID From Auth0 Dashboard>
DRIZZ_AUTH0_REDIRECT=http://127.0.0.1:8490/callback
DRIZZ_AUTH0_ISSUER=https://<your-tenant>.<region>.auth0.com/
