DRIZZ_LOG_LEVEL=info
DRIZZ_TELEMETRY_ENDPOINT=
DRIZZ_TELEMETRY_EXPORTER=none

DRIZZ_SENTRY_SAMPLE_RATE=1
DRIZZ_SENTRY_ENVIRONMENT=local
DRIZZ_SENTRY_DSN=https://<ID>@<ID>.ingest.us.sentry.io/<ID>

DRIZZ_SESSION=LOCAL
DRIZZ_AUTH0_SCOPES=openid,offline_access
DRIZZ_AUTH0_AUDIENCE=https://platform.drizz.dev
DRIZZ_CLOUD=https://<env>.drizz.dev/api/tm/desktop
DRIZZ_AUTH0_ISSUER=https://drizz-dev.eu.auth0.com/
DRIZZ_AUTH0_CLIENT=<Client ID From Auth0 Dashboard>
DRIZZ_AUTH0_REDIRECT=http://127.0.0.1:8490/callback
